<div style="position:relative">
  <div style="position: absolute; top: 150px; z-index:999;">
    Marco de la camara
  </div>
  <div style="position: absolute; z-index:1;">
    <div>
      <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [switchCamera]="nextWebcamObservable" [imageQuality]="1"
        (cameraSwitched)="cameraSwitched($event)" (initError)="handleInitialError($event)"></webcam>
      <br />
      <button class="btn btn-primary m-5" (click)="triggerSnapshot();">Take A Snapshot</button>
      <button class="btn btn-primary m-5" (click)="toggleWebcam();">Toggle Webcam</button>
      <br />
      <button class="btn btn-primary m-5" (click)="showNextWebcam(true);" [disabled]="!multipleCamerasAvailable">Next
        Webcam</button>
      <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowSwitchingCameras"><label
        for="cameraSwitchCheckbox">Allow Camera Switch</label>
      <br />
      dispositivoId: <input id="device" type="text" [(ngModel)]="device" style="width: 500px">
      <button (click)="cameraSwitched(device);" class="btn btn-primary m-5">Activate</button>
    </div>
  </div>

  <div class="snapshot" *ngIf="imageWebcam">
    <h2>Nice one!</h2>
    <img [src]="imageWebcam.imageAsDataUrl" />
  </div>

  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul>
</div>
<div>